<%- include ('../partials/header.ejs') %>

<h2 class="page-title">Categories</h2>
<a href="/categories/admin/add-category" class="btn btn-primary">Add a new category</a>
<br><br>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Categories</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% category.forEach(function(cate){ %>
        <tr>
            <td><%= cate.cate_name %></td>
            <td><a href="/categories/admin/edit-category/<%= cate._id %>">Edit</a></td>
            <td><a class="confirmDeletion" href="/categories/admin/delete-category/<%= cate._id %>">Delete</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<script>
    $('a.confirmDeletion').on('click', function () {
        if (!confirm('Confirm deletion'))
            return false;
    });
    </script>

<%- include('../partials/footer.ejs') %>