<%- include('../partials/header.ejs') %>

<% if(message) { %>
    <% if (message.length > 0)  { %>
        <div class="alert alert-success">
            <%= message %>
        </div>
    <% } %>
<% } %>

<h2 class="page-title">Edit a category</h2>
<a href="/categories/admin" class="btn btn-primary">Back to all categories</a>
<br><br>

<form method="post" action="/categories/admin/edit-category/<%= id %>">
    <input type="hidden" class="form-control" name="id" value="<%= id %>" placeholder="Name">
    <div class="form-group"></div>
        <label for="">Category Name</label>
        <input type="text" class="form-control" name="cate_name" value="<%= cate_name %>" placeholder="Category Name">
    </div>
    <div class="form-group">
        <label for="">Room Type</label>
        <input type="text" class="form-control" name="room_type" value="<%= room_type %>" placeholder="Room Type">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<%- include('../partials/footer.ejs') %>